body {
    background-color: blanchedalmond;
}

#map { height: 180px; }

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

img {
    width: 30vw;
    height: 20vw;

}

p {
    display: hidden;
}

.game {
    text-align: center;
}
